.example--element {
    margin: 0 auto;
    max-width: 95%;
    opacity: 0;
    transition: opacity 1s ease-in;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    &:hover {
        opacity: .5;
    }
    h3 {
        font-size: 2em;
        font-weight: bold;
        font-family: $lato;
        text-align: center;
        width: 100%;
        margin: 1em;
        padding: 1em;
        background-color: #fff;
        margin: 0 auto;
        color: #000;
    }
    img {
        cursor: pointer;
        width: 15%;
        max-width: 50px;
        position: absolute;
        right: 1%;
    }
}