/* FONTS

font-family: 'Solway', serif;
font-family: 'Lato', sans-serif;

COLORS:

HEADER #b784ef
BODY #ad14bf
FOOTER FONT #1371df


*/

/* IMPORT CODE FOR FONTS */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Solway:400,700,800&display=swap');
/* CODE NEEDED FOR RWD */
header, main, nav, article, section, aside, figure, footer, video, audio {
    display: block;
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Element Selector */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
/* END OF NEEDED CODE FOR RWD */

/* Below is css classes for markup to make it easier to set some things up in HTML like shadows, colors, borders and some alignment */

/*This is a class selector*/
.palette {
    width: 150px;
    height: 300px;
}
.yellowBack {
    background-color: #f4e53b;
}
.yellowText {
    color: #f4e53b;
}
.yellowBorder {
    border: solid 8px #f4e53b;
}
.lightPurpleBack {
    background-color: #b784ef;
}
.lightPurpleText {
    color: #b784ef;
}
.lightPurpleBorder {
    border: solid 8px #b784ef;
}
.darkPurpleBack {
    background-color: #ad14bf;
}
.darkPurpleText {
    color: #ad14bf;
}
.darkPurpleBorder {
    border: solid 8px #ad14bf;
}
.blueBack {
    background-color: #1371df;
}
.blueText {
    color: #1371df;
}

.orangeBack {
    background-color: #de562c;
}

.orangeText {
    color: #de562c;
}
.orangeBorder {
    border: solid 8px #de562c;
}
.solway {
    font-family: 'Solway', serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}
.boxShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.textShadow {
    text-shadow: 1px 1px 3px #eee, 1px 1px 4px #333, 0 1px 4px #dedede;
}
.flexRow {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.noBorder {
    border: none;
}
.marginLeft {
    margin-left: .5em;
}
.left {
    text-align: left;
}
/* Above CSS are classes for html markup to make it easier for some changes  END */

/*This is an element selector*/
body {
/*    background-color: #bc9ee6;*/
    font-family: 'Lato', sans-serif;
}
/* STYLEGUIDE CSS*/
#styleGuide {
    margin: auto;
    width: 700px;
    padding: 1em;
}
#styleGuide article {

    margin: auto;
}
#styleGuide section {
    padding: 1em;
    border: none;
}
#styleGuide .borderBottom {
    border-bottom: solid 2px #000;
}
/*This is an ID selector*/
#mainSection {
    margin: 0 auto;
    max-width: 920px;
    width: 90%;
}

header {
    background-color: #b784ef;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    min-width: 290px;
}
/* Descendant Combinator */
header section {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 110px;
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: 920px;   
}

a {
    text-decoration: none;
    color: black;
}

header img {
    grid-column: 1 / 3;
}

header h1 {
    font-family: 'Solway', serif;
    font-weight: 800;
    grid-column: 3 / 5;
}

label {
    width: 50px;
    margin-right: .25em;
    grid-column: 6 / -1;
}
/* BEGINNING OF DROP DOWN STUFF ONLY USEFUL WITH THE LABEL AND INPUT IN HTML */
header nav {
    display: none;
    text-align: center;
    width: 100%;
    font-weight: 700;
    grid-column: 1 / -1;
    background-color: #b784ef;
    z-index: 1;
}
/* Descendant Combinator and Attribute Selector */
header input[type=checkbox] {
    display: none;
}
/* Descendant Combinator, Attribute Selector, Pseudo Selector and General Sibling Combinator  */
header input[type=checkbox]:checked ~ nav.menu {
    display:block;
}
/* END OF DROP DOWN CODE */

header li {
    font-size: 1.5em;
    border-bottom: solid 1px #fff;
}

header ul li:last-child {
    border: none;
}

header ul a {
    display: block;
}

header ul a:hover {
    background-color: #b7a2ca;
}

section.menu article {

    border: solid 8px #de562c;
/*    margin: 1em;*/
}
/*END OF HEADER STUFF */

ul {
    list-style-type: none;
}
/* Group Selector*/
h1, h2 {
    text-align: center;
    padding: .5em 0; 
}
/*MAP STUFF*/
#mapWrapper
{ position: relative;
padding-bottom: 100%; /*    300/300=1*/
height: 0;
overflow: hidden;
}

#mapWrapper iframe{
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;    
}
/*END OF MAP STUFF*/

#mainSection fieldset p {
    padding: .25em 0;
}

#mainSection fieldset {
    
    font-size: 1.25em;
    min-width: 270px;
}
/* Child Combinator */
#mainSection>img {
    border: solid 8px #b784ef;
}
#mainSection li {
    width: 100%;
}

#mainSection label {
    display: block;
    text-align: left;
    width: 100%;
    padding: .25em 0;
} 
#mainSection li:first-of-type label {
    display: inline;
}
#mainSection li:first-of-type input, #mainSection li:last-of-type input {
    width: 1em;
}
#mainSection li:first-of-type {
    display: block;
    text-align: left;
}

#mainSection li:last-of-type label{
    display: inline;
}
#mainSection textarea {
    height: 150px;
}
#mainSection input, #mainSection textarea, #mainSection select {
    font-family: 'Solway', serif;
    font-size: 1em;
    color: #2f4858;
    width: 100%;
    padding: .5em;
}
p {
    padding-bottom: 1em;
}
.awards {
    margin: auto;
    max-width: 760px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.awards article {
    margin: .5em .5em;
    flex-basis: 75%;
}
.awards ul {
    width: 100%;
}

.awards li {
    color: #1371df;
}

.double>section article {
    border: none;
}

#mainSection .awards li:nth-of-type(1n+2) {
    width: 100%;
}

.awards h1:first-child {
    flex-basis: 100%;
}

.aboutMain article {
    text-align: center;
} 

button {
    margin: .5em;
    width: 110px;
    height: 72px;   
    border: solid 1px #f4e53b;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

button:hover {
    box-shadow: none;
    border: solid 1px #de562c;

}

/* This is an attribute selector */
button[type="reset"] {
    background-image: url("../images/contact/clear.jpg");
}

button[type="submit"] {

    background-image: url("../images/contact/submit.jpg");
}

section {
    padding-bottom: .5em;
}

section h1 {
    font-size: 2.25em;
}

section>section article {
    border: solid 8px #de562c;
    text-align: center;
    margin: 1em;
}

section article a {
    display: inline-block;
    border: solid 8px #de562c;
}

section article img {
    border: solid 8px #f4e53b;
}

fieldset ul {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: .25em .5em;
}


fieldset li {
    padding: .25em 0;
}
/* Adjacent Sibling Selector */
h1+h2 {
    padding: 0;
}

section>section {
    display: flex;
    flex-direction: column;
}

/*Used to center the menu items because it was having a weird spacing issue without align items*/
section>section.menu, section>section.menu a {
    display: flex;
    align-items: center;
}

/* ALL THE FOOTER STUFF IS BELOW */
footer {
    border-top: solid 8px #b784ef;
    height: 145px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    color: #1371df;
    font-weight: 900;
    display: grid;
}
/* HIDDEN BECAUSE IN MOBILE FIRST THIS SHOULDN'T SHOW */
footer section>ul {
    display: none;
}
footer nav ul, footer div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px;
    align-items: center;
}

footer nav li {
    text-align: center;
    display: block;
    border-right: solid 1px #dedede;
}
footer nav a {
    color: #1371df;
    display: block;
    padding: 1em;
}
footer nav a:hover {
    color: #fff;
    background-color: #1371df;
}
footer nav li:last-child {
    border: none;
}

footer div {
    border-top: solid 2px #dedede;
}
footer div a {
    text-align: center;
}
footer div a i {
    font-size: 2.5em;
    display: block;
    color: #1371df
}

/* END OF FOOTER STUFF AND BEGINNING OF MEDIA QUERIES*/

@media screen and (min-width: 500px)
{
    .double>section article {
        width: 400px;
        border: none;
    }
    .aboutMain {
         display: flex;
    }
    .aboutMain article {
        flex-basis: 60%;
        border-right: solid 6px #b784ef;
        padding-right: 1em;
        margin-right: 1em;
    }
    .aboutMain aside {
        flex-basis: 30%;
    }
    .awards article {
        flex-basis: 45%;
    }
    footer section {
        margin: auto;
        width: 100%;
        max-width: 920px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 130px;
        align-items: center;
        justify-items: center;
    }
    footer section>ul {
        grid-column: 2 / 5;
        display: block;
        color: #ad14bf;
    }
    
    footer div {
        grid-column: 5 / -1;
        width: 100%;
        border: none;
    }
    footer nav {
        grid-column: 1 / 2;
    }
    
    footer nav ul {
        padding: 0 .50em;
        height: 100px;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    footer nav li {
	    text-align: left;
        width: 100%;
        border: none;
    }
    
    footer nav a {
        display: block;
        font-size: 1.25em;
        padding: 0;
        color: #1371df;
    }
    
    footer nav a:hover {
        color: #fff;
        background-color: #1371df;
    }
    /* SETS ALL THE ARTICLE FLOW FOR ANYTHING THAT HAS ARTICLES SET UP IN A BOX STYLE LAYOUT 
       AFTER IT HITS 500PX.  If you have questions let me know. */
    section>section {
        flex-flow: wrap;
        justify-content: center;
    }
    section.delivery {
        flex-flow: column;
    }
    .double>section {
        justify-content: space-around;
    }
}

@media screen and (min-width: 720px) {
    header img {
        grid-column: 1 / 2;
    }

    header h1 {
        font-family: 'Solway', serif;
        font-weight: 900;
        grid-column: 2 / 3;
    }

    header label {
        display: none;
    }

    header nav {
        display: inline;
        grid-column: 3 / -1;
    }
    
    header li {
        width: 100%;
        border: none;
        border-right: solid 4px #fff;
    }
    
    header li:last-child {
        border: none;
    }
    
    header a {
        display: block;
        padding: .25em;
    }
    
    header nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }   
    #mainSection li:nth-of-type(1n+2) {
        width: 48%;
    }
    
    #mainSection li:nth-of-type(1n+6) {
        width: 100%;
    }
}
.price {
    background-color: #f4e53b;
}



